html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    border: none
}

body {
    font-family: "Helvetica Neue";
    background: #1f1620;
}

#tileD { background: #A6CEE3; }
#tileE { background: #B2DF8A; }
#tileF { background: #FB9A99; }
#tileG { background: #FDBF6F; }
#tileH { background: #8DD3C7; }
#tileI { background: #CAB2D6; }