body {
    margin: 0;
    padding: 0;
}

#vertical {
    display: block;
    height: 1920px;
    width: 1080px;
    background: #1f1620;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: none;
}

.tile {
    position: absolute;
    width: 540px;
    height: 405px;
    border: 0;
}

.row1 { top: 0; }
.row2 { top: 405px; }
.row3 { top: 810px; }
.row4 { top: 1215px; }
.row5 { top: 1620px; }

.col1 { left: 0; }
.col2 { left: 540px; }

.social {
  position: absolute;
  top: 1620px;
  left: 0;
  width: 1080px;
  height: 300px;
  border: 0;
}

#map {
  position: absolute;
  top: 384px;
  left: 540px;
  height: 768px;
  width: 540px;
  border: 1px solid #251929;
}

#announcement {
    position: absolute;
    top: 1536px;
    left: 0;
    height: 384px;
    width: 1080px;
}