node_modules
.DS_Store

html/lib/phone.js
bootstrap_scripts/paper_sessions.csv
bootstrap_scripts/paper_submissions.csv

erl_crash.dump

html/qunit/tests.js

glance80.coffee

html/lib/findBiggestTimeSlot.js
