#left {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 66%;
}

#right {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 34%;
    right: 15px;
}

#announcement {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 15px;
    padding: 15px;
    overflow: hidden;
    background: #f6eebf;
    border-radius: 10px;
    font-family: 'Magra', sans-serif;
    font-size: 36px;
}

#logo { 
    width: 95%; 
    position: absolute;
    top: 55%;
}
