@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

body { 
    padding: 10px 10px 0 10px; 
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-variant: small-caps;
    font-size: 18px;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

#submissions { 
    position: absolute; 
    left: 10px;
    right: 10px;
}

.submission {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.submission .video {
    display: block;
    background: #000;
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    /*width: 100% !important;*/
}

.submission .info { 
    display: block;
    float: left;
    padding: 5px 10px; 
    height: 20%;
    width: 93%;
}

h2 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
}

h3 {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
}

h3.code {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

/* Colors */
#tile_A h1 { color: #f1a16d;}
#tile_A .submission { background: #f1a16d; }
#tile_A .code { background: #63412a; }

#tile_B h1 { color: #B5E27D;}
#tile_B .submission { background: #B5E27D; }
#tile_B .code { background: #4b6530; }

#tile_C h1, #tile_D h1 { color: #AACDE5;}
#tile_C .submission, #tile_D .submission { background: #AACDE5; }
#tile_C .code, #tile_D .code { background: #1B5097; }

#tile_E h1, #tile_F h1 { color: #F59A99;}
#tile_E .submission, #tile_F .submission { background: #F59A99; }
#tile_E .code, #tile_F .code { background: #865252; }

#tile_G h1, #tile_H h1 { color: #CAB2D9;}
#tile_G .submission, #tile_H .submission { background: #CAB2D9; }
#tile_G .code, #tile_H .code { background: #5C5065; }