@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

html {
    cursor: url(/mosaic/imgs/cursor.png), none !important 
}

#social {
    margin-top: 10px;
    padding: 5px 0 0 5px;
    border-top: 5px solid #352537;
    cursor: url(imgs/cursor.png), none !important 
}

.row {
    float: left;
    width: 1080px !important;
    height: 135px !important;
    overflow: hidden !important;
}

.item {
    display: block;
    float: left;
    width: 255px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.tweet {
    display: block;
    float: left;
    width: 235px;
    height: 100px;
    padding: 10px;
    margin: 5px 0;
    background: #352537;
    border-radius: 5px;
    color: #ccc;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
}

.tweet .userpic {
    float: left;
    margin: 0 10px 0 0; 
}
.tweet .userpic img { 
    border-radius: 5px; 
    width: 32px;
    height: 32px;
}

.tweet .byline {
    margin: 0 0 10px 45px;
}
.tweet .byline .name { font-weight: bold; }
.tweet .byline .username, .tweet .byline .date {
    color: #888;
    font-size: 12px;
}
.tweet .byline .date { float: right; }
/*.tweet .text { margin-left: 45pxpx; }*/

.photo img {
    display: block;
    height: 116px;
    margin: auto auto;
    border: 7px solid #352537;
    border-radius: 5px;
}