/*Styling for CHI'13 jQuery Mobile app to interact with big displays*/


body{
  width:100%;
}

.ui-content {
  padding:0px;
  padding-bottom: 15px;
  }
/*Style for landing page*/

#screen_list li {
  padding: 0.3em 15px;
  display: block;
  }

#welcome{
  margin-top: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(30,30,30,.25);
}

ul li h4 a{
  text-decoration: none;
  font-weight: 400 !important;
  font-size: 16px;
}

/*Ends style for landing page*/


/*Style for tiles page*/

#main_grid{
  background-color: rgb(31, 22, 32);
  padding-left: auto;
  padding-right: auto;
  width:100%;
  text-align: center;
}
#main_grid a{
  text-decoration: none;
}

/*Tile button-like styling*/
.tile{
  height: 100px;
  font-size: .9em;
  font-weight: 400;
  border-radius: 4px;
  margin: 2px;
  width:49% !important;
  padding: 2px 2px;
  overflow:hidden;
  color: white;
  font-family: 'PT Sans', sans-serif;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

}

.tile:hover, .tile:focus {
  /*background: #356094;*/
  border: solid 1px #000;
  text-decoration: none;
}

.tile:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  /*background: #2E5481;*/
  border: solid 1px #203E5F;
}

.remove{
  background: url('images/remove.png') no-repeat bottom right;
}
.check{
  background: url('images/check.png') no-repeat bottom right;
}

div[data-role="content"]{
  background-color: #fff;
  border-radius: 4px;
  margin-top: 42px;
}

@media only screen and (max-device-width: 480px) {
  .tile{
    height: 85px;
    font-size: .8em;
  }
}
/*Ends style for tiles page*/

/*Style for search page*/
.selected{
  background-color: rgba(166,166,166,1) !important;
  /*Had to do it this way to override JQM android theme styling AND iOS*/
  background-image: linear-gradient(#aaaaaa, #aaaaaa) !important;
}

#searchBar{
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
/*Ends style for search page*/

/*General styles*/
div[data-role="header"]{
  position:fixed;
  width:100%;
  z-index:1000;
}
.green{
  background-color: rgb(38,94,48);
}

.blue{
  background-color: rgb(27,85,118);
}

.red{
  background-color: rgb(152,52,60);
}

.purple{
  background-color: rgb(97,68,122);
}

.orange{
  background-color: rgb(211,120,60);
}
.light_purple{
  background-color: #352537;
}

.invisible{
  visibility:hidden;
  }

.centered{
  text-align: center;
}
/*End general styles*/